//Baseline
$baseline: 10px;
$textSize: 15px;
$max-width: 1170px;
//Colors
$colorMain: #ffd700;
$colorSecond: #000000;
$colorDark: #353535;
$colorAction: #0051ba;
$colorText: #000000;
$colorTextLight: #4a4a4a;
$colorBorder: #9b9b9b;
$colorPaginationBorder: #d4d4d4;
$colorBack: #f5f5f5;
$colorLight: #e1e1e1; //modal
